<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Register</title>
</head>
<body>
    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {
        <label for="login">Choose a name </label>
        <input id="login" type="text" name="login" required />
        <label for="password">Create password: </label>
        <input type="password" name="password" required />
        <input type="submit" value="send" />
    }
</body>
</html>