<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Chat App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div style="text-align: center;"><h1 class="h1">Java Chat app</h1></div>
<a th:href="@{/submit}">new message</a>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col"> Content</th>
        <th scope="col"> Created</th>
        <th scope="col"> Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages.messages}">
        <td><span th:text="${message.content}"></span></td>
        <td><span th:text="${message.created}"></span></td>
        <td><span th:text="${message.author.username}"></span></td>
    </tr>
    </tbody>

</table>
</body>
</html>