<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Welcome to programmer Fox Club!</h1>
    @using(Html.BeginForm("login", "Home", FormMethod.Post))
    {
        <p>Please provide a name so you can associate it to your pet!</p>
        <label for="Name">Name</label>
        <input id="Name" type="text" name="Name" required />
        <input type="submit" value="Go" />
    }
</body>
</html>