
@{
    ViewData["Title"] = "Colored";
} 
@model string


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body style="background-color: @Model">
    <h1>Colored</h1>
    @Html.ActionLink("New color", "Color", "useful")<br />
    <strong style="font-size:larger"><a href="~/useful/color">New color using Actionlink</a></strong><br />
    @Html.ActionLink("Back", "", "useful")<br />

</body>
</html>

