
<h1>Useful</h1>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <a href="~/useful/color">Randomly colored page</a><br />
    <a href="/useful/email?email=is@this.valid">Email Validator</a><br />
    <a href="/useful/Caesar">Caesar encoder/decoder</a>
</body>
</html>

